body{
    text-align: center;
    color: white;
    background-color:#554905;
    border-radius: 10px;
    font-family:  sans-serif;
}
.head0{
    display: inline-block;
    text-align: center;
    font-size: 40px;
}
.head0:hover{
    color: red;
}
.description{
    color: rgb(48, 202, 48);
    font-size: 26px;
}
.head1{
    display: inline-block;
    margin-right: 30px; 
    color: #C5C9AA;
    font-size: 30px;
  }
.page{
    margin: 10px;
    color: white;
}
.images{
    height: 370px;
    border-radius: 20px;
}
.inimg{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 200px 2px 20px;
}
ol ,
ul{
    font-size: 22px;
    text-align: left;
}
.a{
    color: rgb(236, 36, 36);
    font-size: 20px;
}