@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times new roman", Arial, Helvetica, sans-serif;
  font-family: 'Vina Sans', sans-serif;
  color: #E6FF00;
  /*background-image: url('images/png.monster-511.png');*/
}
.header{
  color: #DC9218;
}
ul{
  list-style: none;
  padding: 20px;
  padding-bottom: 50px;
}
li{
  display: inline;
}
a{
  color: #DC9218;;
  font-size: 52px;
  text-decoration: none;
}
a:hover{
  color: rgb(233, 81, 81);
}
.logo{
  text-align: center;
}
.logo:hover{
  animation-duration: 1 s;
}
.container{
  border-radius: 10px;
  margin: 20px;
  margin-top: 10px;
}

.recipe{
  background-color: #ffffff;
  display: inline-block;
  margin: 30px 90px 30px 90px;
  padding: 5px;
  border: 2px solid #756507;
  border-radius: 10px;
}
.recipe:hover{
  background-color: #756507;
  animation-duration: 2s;
}
.homeimg {
  height: 300px;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  display: block;
}
.homeimg:hover{
  height: 320px;
  animation-duration: 3s;
}
.container a{
  font-size: 22px;
}


