body {
  font-family: "Times new roman", Arial, Helvetica, sans-serif;
  font-size: bold;
  color: #554905;
  background-color: #dbdbd1;
  font-size: 30px;
}
.header{
  color: #4EEC0A;
  background-color: #aa9728;
  font-weight: bold;
  list-style-type: none;
  border-radius: 10px;
  margin: 5px;
}
.head1{
  display: inline-block;
  margin-right: 30px;
  color: #d7f321;
  font-size: 30px;
}
.headmenu{
  font-size: 50px;
  display: inline-block;
  margin-left: 100px;
  margin-right: 600px;
}
.hpage{
  color:#21c900;
  /*background-color: #7feb38;*/
  background-color: #EA690099;
  border-radius: 10px;
  margin: 5px;
  margin-top: 10px;
  align-items: center;
}
.recipe{
  background-color: #ffffff;
  display: inline-block;
  margin: 30px 90px 30px 90px;
  padding: 5px 5px;
  border: 2px solid #756507;
  border-radius: 10px;
}
a{
  color: rgb(0, 255, 0);
  font-size: 30px;
}
a:hover{
  color: red;
}
a:link {
  border-radius: 30px;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
  display: inline-block;
}
.homeimg {
  height: 300px;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  display: block;
}
