body {
  font-family: "Times new roman", Arial, Helvetica, sans-serif;
  font-size: bold;
  color: rgb(85, 73, 5);
}
.homepage{
  color:rgb(75, 19, 19);
  background-color: rgb(240, 195, 195);
}
a:link, a:visited {
  background-color: rgb(79, 214, 37);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.header {
  color: rgb(233, 198, 3);
  background-color: rgb(117, 101, 7);
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
}
.head{
  display: inline-block;
  margin-right: 30px;
  color: rgb(65, 238, 12);
}
.headmenu{
  display: inline-block;
  margin-left: 100px;
  margin-right: 600px;
}
p {
  font-size: 30px;
}

.homeimg {
  height: 100px;
  align-items: center;
  margin: 10px;
}
ul {
  list-style: none;
}
li{
    display: block;
    margin: 10px;
    align-items: center;
}
